.table-header {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid white;
}

.picture-logo {
  width: 80px;
  margin: 2px;
  border: 2px solid rgb(93, 122, 88);
    display:flex;
    border-radius: 10px;
    background: none;
}


.linkHeader {
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: all ease 0.3s;
  text-decoration: none;
}

.linkHeader:hover{
  color: #199F5D;
  font-size: 22px;
}

