* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-bg{
    width: 100vw;
    height: 100vh;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    height: 60vh;
    width: 40vw;
    box-shadow: 6px 5px 19px rgb(93, 122, 88);
    border: 2px solid none;
    background: rgb(52,52,51);
    background: linear-gradient(109deg, rgba(52,52,51,1) 10%, rgba(23,20,20,1) 70%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.image-login {
    border: 2px solid rgb(93, 122, 88);
    width: 100px;
    display:flex;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    background: none;
}

.input-email {
    padding-left: 7px;
    background-color: #282828;
    border-radius: 10px;
    height: 26px;
    color: white;
    border: 1px solid gray ;
    display:flex;
    margin-right: auto;
    width: 100%;
    margin-left: auto; 
    margin-top: 10px;
}

.input-password {
    background-color: #282828;
    border-radius: 10px;
    height: 26px;
    color: white;
    border: 1px solid gray ;
    padding-left: 7px;
    display:flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto; 
    margin-top: 10px;
}

.button-login {
    background-color: #199F5D;
    border-radius: 10px;
    height: 26px;
    border: 1px none;
    width: 90px;
    font-size: 13px;
    color: white;
    letter-spacing:1px;
    margin-right: auto;
    margin-left: auto; 
    margin-top: 20px;
}

.label-email{
    display:flex;
    flex-direction:column;
    background: none;
    width: 80%;
}

label {
    background: none;
}
