* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #3D3D3D !important;
}

#root {
    width: 100%;
    height: 100%;
    
}

.login-bg{
    width: 100%;
    height: 100%;
    
}

/* .login {
    margin-top: 240px;
    background-color:#282828;
} */

.login  {

    margin-top: 240px;
   /*  background-color:#282828; */

    height: 500px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 6px 5px 19px rgb(93, 122, 88);
    border: 2px solid none;
    background: rgb(52,52,51);
    background: linear-gradient(109deg, rgba(52,52,51,1) 10%, rgba(23,20,20,1) 70%);
    border-radius: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

/* input {
    background-color: #282828;
    border-radius: 10px;
    height: 26px;
    color: white;
    border: 1px solid gray ;
} */

/* button {
    background-color: #199F5D;
    border-radius: 10px;
    height: 26px;
    border: 1px none;
} */

.image-login {
    border: 2px solid rgb(93, 122, 88);
    width: 100px;
    display:flex;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    background: none;
}

.input-email {
    padding-left: 7px;
    background-color: #282828;
    border-radius: 10px;
    height: 26px;
    color: white;
    border: 1px solid gray ;
    display:flex;
    margin-right: auto;
    width: 280px;
    margin-left: auto; 
    margin-top: 10px;
}

.input-password {
    background-color: #282828;
    border-radius: 10px;
    height: 26px;
    color: white;
    border: 1px solid gray ;
    padding-left: 7px;
    display:flex;
    width: 280px;
    margin-right: auto;
    margin-left: auto; 
    margin-top: 10px;
}

.button-login {
    background-color: #199F5D;
    border-radius: 10px;
    height: 26px;
    border: 1px none;
    width: 90px;
    font-size: 13px;
    color: white;
    letter-spacing:1px;
    margin-right: auto;
    margin-left: auto; 
    margin-top: 20px;
}

.label-email{
    display:flex;
    flex-direction:column;
    background: none;
}

.login {
    margin-top: 240px;
    background-color: none;
}

label {
    background: none;
}

