.image-login {
    width: 100px;
    display:flex;
    margin-right: auto;
    margin-left: auto;
}

.input-email {
    display:flex;
    margin-right: auto;
    width: 260px;
    margin-left: auto; 
    margin-top: 10px;
}

.input-password {
    display:flex;
    width: 260px;
    margin-right: auto;
    margin-left: auto; 
    margin-top: 10px;
}

.button-login {
    display:flex;
    width: 80px;
    text-align: center;
    margin-right: auto;
    margin-left: auto; 
    margin-top: 10px;
}

.label-email{
    display:flex;
    flex-direction:column;
    

}

.login {
    margin-top: 300px;
}