.table {
 margin-right: auto;
 margin-left: auto;
 width: 70%;
 height: 40%;
}

.informations {
    display:flex;
    flex-direction: row;
    height: 400px;
    justify-content: space-around;
    border: 1px solid black;
}

.input-header {
    margin-left: 800px;
    width: 400px;
    display: flex;
    justify-content: center;
}